---
- hosts: all

  gather_facts: yes

  # things that can be configured
  vars:
    oracle_http_port: 8081
    oracle_listener_port: 1521
    oracle_password: oracle

  handlers:

    - name: restart oracle xe
      service: name=oracle-xe state=restarted

  tasks:

    # TODO: not all of these are required ?
    # TODO: package names are distro specific
    - name: os | packages
      yum: name={{ item }} state=present
      with_items:
        - bc
        # - firewalld
        # - git
        # - htop
        # - java
        # - java-1.7.0-openjdk-src.x86_64
        # - libaio
        # - net-tools
        - perl
        - rlwrap
        # - sudo
        - unzip
        # - which

    #
    # oracle xe requires minimum of 2GB swap
    #
    # being lazy here and simply creating the 2GB extra swap file if the swap
    # is less than 2GB
    #

    - name: oracle xe | 2GB swap min | create swap file
      command: dd if=/dev/zero of=/mnt/2GB.swap bs=1M count=2048
      when: ansible_swaptotal_mb < 2048

    - name: oracle xe | 2GB swap min | format swap file
      command: mkswap /mnt/2GB.swap
      when: ansible_swaptotal_mb < 2048

    - name: oracle xe | 2GB swap min | set permissions
      file: path=/mnt/2GB.swap owner=root group=root mode=0600
      when: ansible_swaptotal_mb < 2048

    - name: oracle xe | 2GB swap min | turn on
      command: swapon /mnt/2GB.swap
      when: ansible_swaptotal_mb < 2048

    - name: oracle xe | 2GB swap min | fstab
      mount: name=none src=/mnt/2GB.swap fstype=swap opts=defaults passno=0 dump=0 state=present
      when: ansible_swaptotal_mb < 2048

    - name: oracle xe | install | copy files
      unarchive: src=files/oracle-xe-11.2.0-1.0.x86_64.rpm.zip
                 dest=/tmp
                 creates=/tmp/Disk1/oracle-xe-11.2.0-1.0.x86_64.rpm

    - name: oracle xe | install | rpm
      yum: name=/tmp/Disk1/oracle-xe-11.2.0-1.0.x86_64.rpm state=present

    - name: oracle xe | install | response file
      template: src=templates/xe.rsp.j2
                dest=/tmp/Disk1/response/xe.rsp
                backup=yes

    - name: oracle xe | install | does configuration file exists (1/2)
      stat: path=/etc/sysconfig/oracle-xe
      register: ora_xe_config_sys

    - name: oracle xe | install | does configuration file exists (2/2)
      stat: path=/etc/default/oracle-xe
      register: ora_xe_config_default

    # TODO: use creates instead (but the created file can be different, see above)
    - name: oracle xe | install | configure
      when: not (ora_xe_config_sys.stat.exists or ora_xe_config_default.stat.exists)
      notify: restart oracle xe
      command: /etc/init.d/oracle-xe configure responseFile=/tmp/Disk1/response/xe.rsp

    - name: oracle xe | install | profile file
      copy: src=files/20oos_oraclexe.sh dest=/etc/profile.d/ owner=root group=root mode=0644
